.btn-new {
    width: 13em;
    height: 40px;
    border-radius: 10px;
    border-color: #323c59;
    color: white;
    transition: .2s linear;
    background: #10131c;
    margin: 10px;
    font-family: Georgia;
}

.btn-new:hover {
    box-shadow: #dee9ef 0 0px 0px 40px inset;
    color: #10131c;
}

body{
    background-color: #121620;
}
p{
    color: #dee9ef;
    font-size: 24px;
}
h1, h5, h2, h6, h3, h4{
    color: #dee9ef;
}


.time{
        color: #55ffff;
}
.username{
        color: #9c5cff;
}

.qwerty{
    border-radius: 7px;
    transition: .2s linear;
        border:1px solid #9b5cfd;
        background-color: #263049;
        color: #dee9ef;
        height: 30px;
    width: 400px;
}

.qwerty:focus {
    color: #68b6b6;
    border: 1px solid #ffffff
}

h1{
    color: #b590f6;
}

.page_loc{
    color: #7abee3;
    font-size: 30px;
    font-family: "Book Antiqua";
}

.simple-chat{
    font-size: 40px;
    margin-top: 5px;
    font-family: "Book Antiqua";
}

.info-auth{
    font-size: 30px;
}

.central_div{
    width: 400px;
    height: 520px;
    background-color: #222430;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-top: 3px solid #4f2f81;
    border-left: 3px solid #341a5c;

    box-shadow:10px 10px 5px #58358c;

}
.little_central_div{
    width: 250px;
    height: 500px;
    text-align: center;

}
.auth_body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px;
    flex-direction: column;
}

.info-auth-errors{
    margin-top: 15px;
    width: 70%;
    height: 90px;
    font-size: 10px;
    color: #55ffff;
}

.info-auth-errors-text{
    color: #7abee3;
    font-family: "Book Antiqua";
}